<!DOCTYPE html>
<!--<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<!--<form name="valid" action="/customerHome"  method="post">

    E-mail: <input type="text"  name="email"/>
    <br/>
    Password: <input type="password" name="pass"/>
    <br/>
    <input type="submit" value="login"/>
</form>-->
<form name="valid" action="/customerHome"    th:object="${name}" method="post">

    E-mail: <input type="text" th:field="*{email}" name="email"/>
    <br/>
    Password: <input type="password" th:field="*{password}" name="pass"/>
    <br/>
    <input type="submit" value="login"/>
</form>

</body>
</html>

<!--th:action="@{/login}" -->
