<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form>
    User Name: <input type="text" name="userName" /><br><br>
    E-mail: <input type="email" name="email" /><br><br>
    Password: <input type="password" name="password" /><br><br>
    Confirm password: <input type="password" name="confirmPassword" /><br><br>
    User Type: <br><input type="radio" name="type" value="customer" > Customer<br>
    <input type="radio" name="type" value="admin"> Admin<br>
    <input type="radio" name="type" value="storeOwner"> StoreOwner<br>
    <input type="submit" value="register" />
</form>
</body>
</html>