<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta http-equiv="content-type" content="text/html; charset=iso-8859-1"/>
    <title>add brand</title>
</head>
<body>
<form action="/addBrandInDB" th:object="${brand}">
    brand name<input type="text" th:field="*{name}"/>
    brand category<input type="text" th:field="*{category}"/>
    <input type="submit" value="add"/>
</form>
</body>
</html>