<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta http-equiv="content-type" content="text/html; charset=iso-8859-1"/>
    <title>add collaborator</title>
</head>
<body>

<form action="addedCollaborator" th:object="${collaborator}">
    collaborator Name: <input type="text" name="userName" th:field="*{userName}" /><br/>
    E-mail: <input type="email" name="email" th:field="*{email}" /><br/>
    Password: <input type="password" name="password" th:field="*{password}"/><br/>
    Confirm password: <input type="password" name="confirmPassword" th:field="*{confirm}"/><br/>
    your Email :<input type="text" name="storeOwnerEmail" th:field="*{storeOwnerEmail}"/><br/>
    <input type="submit" value="add"/>
</form>

</body>
</html>