<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta http-equiv="content-type" content="text/html; charset=iso-8859-1"/>
    <title>add product</title>
</head>
<body>
<h2 th:text="${err}"></h2>
<form action="/addProductInDB" th:object="${product}">
    name <input type="text"  th:field="*{name}" name="name"/>
    <br/>
    price <input type="text" th:field="*{price}"  name="price"/>
    <br/>
    category <input type="text" th:field="*{category}" name="category"/>
    <br/>
    brand <input type="text" th:field="*{brand}"  name="brand"/>
    <br/>
    quantity <input type="text" th:field="*{quantity}" name="quantity"/>
    <br/>
    store<input type="text" th:field="*{store}" name="store"/>
    <br/>
    <input type="submit" value="add"/>
</form>
</body>
</html>