<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta http-equiv="content-type" content="text/html; charset=iso-8859-1"/>
    <meta name="description" content="description"/>
    <meta name="keywords" content="keywords"/>
    <meta name="author" content="author"/>
    <!--<link rel="stylesheet" type="text/css" href="default.css" media="screen"/>-->
    <meta charset="UTF-8"/>
    <title>add store</title>
</head>
<body>
<h2 th:text="${err}"></h2>
<form action="/addedStore" th:object="${store}">
store name: <input type="text" name="name" th:field="*{name}"/><br/>
store type: <input type="text" name="type" th:field="*{type}"/><br/>
    store location: <br/>
    <input type="radio" name="location" value="onside"  id="location1"/> onsite<br/>
    <input type="radio" name="location" value="online" id="location2"/> online<br/>
    <input type="submit" value="add"/>
</form>
</body>
</html>
