<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>products</title>
</head>

<body>
<div><table border="1">
    <tr>
        <th>product name</th>
        <th>price</th>
        <th>category</th>
        <th>brand</th>
        <th>store</th>
        <th>quantity</th>
        <th>number of views</th>
    </tr>

    <tr th:each="product : ${products}">
        <td th:text="${product.name}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.category}"></td>
        <td th:text="${product.brand}"></td>
        <td th:text="${product.store}"></td>
        <td th:text="${product.quantity}"></td>
        <td th:text="${product.numOfViews}"></td>
    </tr>
</table></div>
    <br/>
    <!--<h2>total price</h2>-->
    <h1 th:text="${err}"></h1>

    <form action="buyProduct">
        product name<input type="text"   name="name"/><br/>
        your email<input type="text"   name="email"/><br/>
        store name  <input type="text"  name="store"/><br/>
        product amount<input type="text" name="amount"/><br/>
        <input type="submit" value="buy"/>
    </form>


</body>
</html>